{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'landing.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="main">
        <div class="text-top">
            <h1>We make<br>voting<br> easier</h1>
        </div>
        <div class="svg-image">
            <svg width="90%" height="90%" viewBox="0 0 571 394" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_2_703)">
                    <rect width="60.8252" height="60.8252"
                        transform="matrix(0.888071 -0.459706 0.888071 0.459706 103.145 292)" fill="#B1DD40"
                        fill-opacity="0.35" />
                    <rect width="60.8253" height="60.8253"
                        transform="matrix(0.888071 -0.459706 0.888071 0.459706 167.314 325.217)" fill="#B1DD40"
                        fill-opacity="0.35" />
                    <rect width="60.8252" height="60.8252"
                        transform="matrix(0.888071 -0.459706 0.888071 0.459706 231.483 358.038)" fill="#B1DD40"
                        fill-opacity="0.35" />
                    <rect width="60.8253" height="60.8253"
                        transform="matrix(0.888071 -0.459706 0.888071 0.459706 167.314 259.46)" fill="#B1DD40"
                        fill-opacity="0.35" />
                    <rect width="60.8253" height="60.8253"
                        transform="matrix(0.888071 -0.459706 0.888071 0.459706 231.483 292.676)" fill="#B1DD40"
                        fill-opacity="0.35" />
                    <rect width="60.8253" height="60.8253"
                        transform="matrix(0.888071 -0.459706 0.888071 0.459706 295.652 325.498)" fill="#B1DD40"
                        fill-opacity="0.35" />
                    <rect width="60.8253" height="60.8253"
                        transform="matrix(0.888071 -0.459706 0.888071 0.459706 231.483 226.638)" fill="#B1DD40"
                        fill-opacity="0.35" />
                    <rect width="60.8253" height="60.8253"
                        transform="matrix(0.888071 -0.459706 0.888071 0.459706 295.652 259.855)" fill="#B1DD40"
                        fill-opacity="0.35" />
                    <rect width="60.8253" height="60.8253"
                        transform="matrix(0.888071 -0.459706 0.888071 0.459706 359.821 292.676)" fill="#B1DD40"
                        fill-opacity="0.35" />
                </g>
                <g filter="url(#filter1_f_2_703)">
                    <rect width="74.1865" height="74.1865"
                        transform="matrix(0.888361 -0.459146 0.888361 0.459146 63.0147 216.997)" fill="#B1DD40"
                        fill-opacity="0.5" />
                    <rect width="74.1865" height="74.1865"
                        transform="matrix(0.888361 -0.459146 0.888361 0.459146 141.305 257.461)" fill="#B1DD40"
                        fill-opacity="0.5" />
                    <rect width="74.1866" height="74.1866"
                        transform="matrix(0.888361 -0.459146 0.888361 0.459146 219.596 297.443)" fill="#B1DD40"
                        fill-opacity="0.5" />
                    <rect width="74.1865" height="74.1865"
                        transform="matrix(0.888361 -0.459146 0.888361 0.459146 141.305 177.357)" fill="#B1DD40"
                        fill-opacity="0.5" />
                    <rect width="74.1866" height="74.1866"
                        transform="matrix(0.888361 -0.459146 0.888361 0.459146 219.596 217.821)" fill="#B1DD40"
                        fill-opacity="0.5" />
                    <rect width="74.1865" height="74.1865"
                        transform="matrix(0.888361 -0.459146 0.888361 0.459146 297.886 257.803)" fill="#B1DD40"
                        fill-opacity="0.5" />
                    <rect width="74.1866" height="74.1866"
                        transform="matrix(0.888361 -0.459146 0.888361 0.459146 219.596 137.374)" fill="#B1DD40"
                        fill-opacity="0.5" />
                    <rect width="74.1865" height="74.1865"
                        transform="matrix(0.888361 -0.459146 0.888361 0.459146 297.886 177.838)" fill="#B1DD40"
                        fill-opacity="0.5" />
                    <rect width="74.1866" height="74.1866"
                        transform="matrix(0.888361 -0.459146 0.888361 0.459146 376.177 217.821)" fill="#B1DD40"
                        fill-opacity="0.5" />
                </g>
                <g filter="url(#filter2_d_2_703)">
                    <rect x="6.36602" width="84.6899" height="84.6899"
                        transform="matrix(0.909431 -0.415854 0.909431 0.415854 4.57656 129.907)" fill="#B1DD40"
                        stroke="black" stroke-width="7" />
                    <rect x="6.36602" width="84.6899" height="84.6899"
                        transform="matrix(0.909431 -0.415854 0.909431 0.415854 103.634 175.202)" fill="#B1DD40"
                        stroke="black" stroke-width="7" />
                    <rect x="6.36602" width="84.6899" height="84.6899"
                        transform="matrix(0.909431 -0.415854 0.909431 0.415854 202.691 219.959)" fill="#B1DD40"
                        stroke="black" stroke-width="7" />
                    <rect x="6.36602" width="84.6899" height="84.6899"
                        transform="matrix(0.909431 -0.415854 0.909431 0.415854 103.634 85.5334)" fill="#B1DD40"
                        stroke="black" stroke-width="7" />
                    <rect x="6.36602" width="84.6899" height="84.6899"
                        transform="matrix(0.909431 -0.415854 0.909431 0.415854 202.691 130.829)" fill="#B1DD40"
                        stroke="black" stroke-width="7" />
                    <rect x="6.36602" width="84.6899" height="84.6899"
                        transform="matrix(0.909431 -0.415854 0.909431 0.415854 301.748 175.586)" fill="#B1DD40"
                        stroke="black" stroke-width="7" />
                    <rect x="6.36602" width="84.6899" height="84.6899"
                        transform="matrix(0.909431 -0.415854 0.909431 0.415854 202.691 40.777)" fill="#B1DD40"
                        stroke="black" stroke-width="7" />
                    <rect x="6.36602" width="84.6899" height="84.6899"
                        transform="matrix(0.909431 -0.415854 0.909431 0.415854 301.748 86.0727)" fill="#B1DD40"
                        stroke="black" stroke-width="7" />
                    <rect x="6.36602" width="84.6899" height="84.6899"
                        transform="matrix(0.909431 -0.415854 0.909431 0.415854 400.805 130.829)" fill="#B1DD40"
                        stroke="black" stroke-width="7" />
                </g>
                <defs>
                    <filter id="filter0_f_2_703" x="95.1447" y="190.676" width="380.711" height="203.324"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="4" result="effect1_foregroundBlur_2_703" />
                    </filter>
                    <filter id="filter1_f_2_703" x="60.0147" y="100.312" width="450.971" height="234.194"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="1.5" result="effect1_foregroundBlur_2_703" />
                    </filter>
                    <filter id="filter2_d_2_703" x="0" y="0" width="571" height="263.441" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_703" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_703" result="shape" />
                    </filter>
                </defs>
            </svg>
        </div>
        <div class="text-bottom">
            <h1>Just a few <br> clicks</h1>
        </div>
    </div>
</section>
<section style="align-items: top;">
    <div class="possibilities">
        <h1 style="font-size: 55px;">Try the Votico's possibilities</h1>
        <div class="buttons">
            <div class="row">
                <button class="btn"><a href="/votings">watch <br> votings</a></button>
                <button class="btn"><a href="/create_voting">create your voiting</a></button>
            </div>
            <div class="row">
                <button class="btn"> <a href="/registration">create profile</a></button>
                <button class="btn"> <a href="#contact-us">contact us</a></button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="in-touch" id="contact-us">
        <div style="width: 100%;">
            <h2 style="color: #B1DD40;font-family: 'Righteous', sans-serif;">Contact us</h2>
            <div class="map-and-form">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1118.086044740726!2d37.7180862!3d55.9117164!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b531085aaa8c05%3A0xccc2897d05a95151!2sMytischinskaya%20programmers%20School!5e0!3m2!1sen!2sru!4v1676139460525!5m2!1sen!2sru"
                    width="550" height="491"
                    style="filter:  invert(90%) hue-rotate(180deg); border:0; border-radius: 15px;" allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="get-in-form">
                    <div style="margin: 0 auto;">
                        <h2>Get in Touch</h2>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="fio">
                                <div>
                                    <label>
                                        Firstname
                                    </label>
                                    <br>
                                    <input class="input-name" type="text">
                                </div>
                                <div>
                                    <label>
                                        Lastname
                                    </label>
                                    <br>
                                    <input class="input-name" type="text">
                                </div>
                            </div>
                            <label>
                                Email
                            </label>
                            <br>
                            <input class="input-email" type="email">
                            <br>
                            <label for="story">Your message:</label>
                            <textarea rows="5" cols="33"></textarea>
                            <br>
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
            <p style="color: #B1DD40;">
                Юбилейная ул., 13, корпус 2, Мытищи, Московская обл., 141021<br>
                <a style="color: #B1DD40;" href="https://informatics.ru/">informatics.ru</a><br>
                Tel: +7 (495) 150-64-32
            </p>
</section>

<script>
    window.addEventListener('load', function () {
        let anchors = document.querySelectorAll('a[href*="#"]');
        for (let anchor of anchors) {
            anchor.addEventListener('click', function (e) {
                e.preventDefault()

                let blockID = anchor.getAttribute('href').substr(1);

                if (blockID[0] == '#')
                    blockID = blockID.substr(1);

                document.getElementById(blockID).scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                })
            })
        }
    })

</script>
{% endblock %}