{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'create_voting.css' %}">
{% endblock %}

{% block content %}
<div class="flex-container">
    <div class="container">
        <h2>Create voting</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                <div><label for="title">Title</label><br><input type="text" name="title" placeholder="Enter your title"></div>
                <div><label for="text">Text</label><br><textarea id="text" name="text" rows="4" cols="50" placeholder="Enter your text"></textarea></div>
                <div><label for="type">Choose type: </label>
                    <select name="type" id="type">
                        <option value="1">One choice</option>
                        <option value="2">Many choice</option>
                    </select></div>
                <div id="Options">
                    <p>Options:</p>
                    <div class="option"><input type="text" id="1" name="options"></div>
                    <div class="option"><input type="text" id="2" name="options"></div>
                </div>
                <button class="btn" type="button" onclick="add_input()">Add option</button><br>
                <div style="display: flex;justify-content: right;"><input class="send-btn" type="submit" value="Submit"></div>
            </div>
          {% if messages %}
          <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
          </li>
          {% endfor %}
</ul>
{% endif %}
        </form>
    </div>
</div>
    <script>
        let cnt = 3;
        function add_input(){
          var div = document.createElement("div");
          var a = document.createElement("a");
          var input = document.createElement("input");
          div.id = 'div_'+cnt.toString();
          input.type = "text";
          input.name = 'options';
          div.className = "option";
          a.style = "margin-left:10px";
          a.innerHTML = "❌";
          a.id = cnt;
          a.onclick = function(){
              const element = document.getElementById('div_'+a.id);
              element.remove();
          };
          cnt++;
          var element = document.getElementById("Options");
          div.appendChild(input);
          div.appendChild(a);
          element.appendChild(div);
        }
     </script>
{% endblock %}
